.header {
  width: 791px;
  height: 230px;
  left: 50%;
  top: 56px;
  transform: translate(-50%, -0%);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 467px;
  height: 78px;
  display: flex;
}

.codengelina {
  font-family: 'Questrial';
  color: white;
  font-weight: bold;
  font-size: 48px;
  padding-top: 12px;
  padding-left: 37px;
}

.room-info {
  font-family: 'Questrial';
  color: rgb(173, 173, 173);
}

.question {
  color: white;
  width: 31px;
  height: 31px;
  padding-top: 20px;
  padding-left: 12px;
}

.view-description {
  color: white;
  font-family: 'Orbit';
  font-weight: 500;
  font-size: 15px;
  margin-top: 30px;
  left: 50%;
}

.subheader {
  width: 617px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.controls {
  width: 248px;
  height: 61px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.player-side {
  font-family: 'Orbit';
  color: white;
  font-size: 15px;
}

.toggle-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-top: 7px;
  margin-left: 4px;
  margin-right: 4px;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

.spymaster-side {
  font-family: 'Orbit';
  color: white;
  font-size: 15px;
}

.new-game {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  border: 1px white solid;
  background-color: transparent;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;

  &:hover {
    transform: translateY(-3px);
    transition: all 0.2s ease;
    box-shadow: inset 0 0 12px rgba(255,255,255,0.4);
    border: 2px white solid;
  }
}

.replay {
  margin-left: 20px;
}

.new-game-text {
  font-family: 'Orbit';
  color: white;
  margin-left: 12px;
  margin-bottom: 4px;
  font-size: 15px;
}

.status {
  width: 979px;
  height: 66px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 530px;
}

.end-turn {
  border-radius: 30px;
  border: 2px white solid;
  padding: 10px 15px;
  background-color: transparent;
  font-family: 'Orbit';
  font-size: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.4);
    transform: translateY(-3px);
  }
}

.grid-container {
  width: 1000px;
  height: 623px;
  border-radius: 40px;
  border: 5px rgb(138, 138, 138) hidden;
  box-shadow: inset 0 0px 19px rgb(255, 255, 255);
  left: 50%;
  transform: translate(-50%, 0%);
  top: 360px;
  position: absolute;
  margin-bottom: 4rem;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px 36px;
  padding: 20px 22px;
}

.modal-overlay {
  transition: 0.2s ease all;
}

.modal-content {
  transition: 0.3s ease-out forwards;
}